<!doctype html>
<html ng-app="sbi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SBI</title>
    {% block javascripts %}
        {% javascripts '@MainAdminBundle/Resources/public/vendor/jquery/jquery.min.js'
                       '@MainAdminBundle/Resources/public/vendor/bootstrap/dist/js/bootstrap.min.js'
                       '@MainAdminBundle/Resources/public/vendor/angular/angular.min.js'
                       '@MainAdminBundle/Resources/public/vendor/angular-route/angular-route.min.js'
                       '@MainAdminBundle/Resources/public/js/main.js'
                       '@MainAdminBundle/Resources/public/js/pace.min.js'
        output="lib"
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    {% block stylesheets %}
        {% stylesheets '@MainAdminBundle/Resources/public/vendor/bootstrap/dist/css/bootstrap.min.css'
                       '@MainAdminBundle/Resources/public/vendor/bootstrap/dist/css/bootstrap-theme.min.css'
                       '@MainAdminBundle/Resources/public/css/dashboard.css'
                       '@MainAdminBundle/Resources/public/css/dataurl.css'
        output="lib"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>
<body>
{% if app.user.username is defined  %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Bussiness Inteligence</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}"><b>{{ app.user.username }}</b> Wyloguj</a></li>

            </ul>
        </div>
    </div>
</div>
{% endif %}
<div class="container-fluid">
    <div class="row">
        {% if app.user.username is defined  %}
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="{{ path('get_users') }}">Overview</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Export</a></li>
            </ul>
        </div>
        {% endif %}
        {% block body %}{% endblock %}
    </div>
</div>

</body>
</html>

