<!doctype html>
<html ng-app="sbi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SBI</title>
    {% block stylesheets %}
        {% stylesheets
        'assets/vendor/nvd3/nv.d3.css'
        'assets/vendor/bootstrap/dist/css/bootstrap.css'
        'assets/vendor/bootstrap/dist/css/bootstrap-theme.css'
        'assets/vendor/font-awesome/css/font-awesome.css'
        'assets/vendor/angular-motion/dist/angular-motion.css'
        'assets/vendor/angular-xeditable/dist/css/xeditable.css'
        'assets/vendor/ng-table/ng-table.css'
        'assets/vendor/nvd3/nv.d3.css'
        '@layout'
        '@angular_datatables_css'
        filter='yui_css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

</head>
<body>
<div id="baseUrl" data-url="{{ app.request.getBaseURL() }}"></div>
{% if app.user.username is defined  %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('dashboard') }}">Bussiness Inteligence</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('get_databases') }}">Databases</a></li>
                <li><a href="{{ path('get_users') }}">Users</a></li>
                <li><a href="{{ path('get_widgets') }}">Widgets</a></li>
                <li><a href="{{ path('show_userProfile', {'id': app.security.getToken().getUser().getId() }) }}">Profile</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}"><b>{{ app.user.username }}</b> Wyloguj</a></li>
            </ul>
        </div>
    </div>
</div>
{% endif %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">{# breadcrumb #}</div>
            </div>
            {% block body %}{% endblock %}
        </div>
    </div>

</div>
{% block javascripts %}
    {% javascripts
    '@jquery_js' '@angular_js' '@pace_js'

    'assets/vendor/angular-route/angular-route.js'
    'assets/vendor/angular-animate/angular-animate.js'
    'assets/vendor/remarkable-bootstrap-growl/bootstrap-growl.js'
    'assets/vendor/angular-strap/dist/angular-strap.js'
    'assets/vendor/angular-strap/dist/angular-strap.tpl.js'
    'assets/vendor/angular-xeditable/dist/js/xeditable.js'
    'assets/vendor/ng-table/ng-table.js'
    'assets/vendor/d3/d3.js'
    'assets/vendor/nvd3/nv.d3.js'
    'assets/vendor/angular-nvd3/dist/angular-nvd3.js'
    'assets/vendor/ace-builds/src-min-noconflict/ace.js'
    'assets/vendor/angular-ui-ace/ui-ace.js'
    '@lodash'
    '@datatables_js'
    '@angular_datatables_js'

    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        angular.module('configuration', [])
                .constant('BASE_END_POINT', '{{ app.request.baseUrl  }}')
                .constant('COMMON_API_END_POINT', '{{ app.request.getSchemeAndHttpHost()  }}');
    </script>
{% endblock %}

</body>
</html>

