<!doctype html>
<html ng-app="sbi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SBI</title>
    {% block stylesheets %}
        {% stylesheets  'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
                        'assets/vendor/bootstrap/dist/css/bootstrap-theme.min.css'
                        '@MainAdminBundle/Resources/public/css/dashboard.css'
                        '@MainAdminBundle/Resources/public/css/dataurl.css'
                        'assets/vendor/angular-motion/dist/angular-motion.css'
        filter='yui_css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    {% block javascripts %}
        {% javascripts 'assets/vendor/jquery/jquery.min.js'
                       '@MainAdminBundle/Resources/public/js/pace.min.js'
                       'assets/vendor/bootstrap/dist/js/bootstrap.min.js'
                       'assets/vendor/angular/angular.min.js'
                       'assets/vendor/angular-route/angular-route.min.js'
                       'assets/vendor/angular-animate/angular-animate.min.js'
                       '@MainAdminBundle/Resources/public/js/main.js'
                       'assets/vendor/remarkable-bootstrap-growl/bootstrap-growl.js'
                       'assets/vendor/angular-strap/dist/angular-strap.js'
                       'assets/vendor/angular-strap/dist/angular-strap.tpl.js'
        filter='yui_js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</head>
<body>
<div id="baseUrl" data-url="{{ app.request.getBaseURL() }}"></div>
{% if app.user.username is defined  %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('dashboard') }}">Bussiness Inteligence</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('get_users') }}">Users</a></li>
                {#<li><a href="#">Settings</a></li>#}
                <li><a href="{{ path('show_userProfile', {'id': app.security.getToken().getUser().getId() }) }}">Profile</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}"><b>{{ app.user.username }}</b> Wyloguj</a></li>
            </ul>
        </div>
    </div>
</div>
{% endif %}
<div class="container-fluid">
    {% block body %}{% endblock %}
</div>



</body>
</html>

