{% extends "MainAdminBundle::layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts

    '@MainAdminBundle/Resources/public/js/Controlers/listWidgetControler.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block body %}

<div class="row">
    <div id="profile" data-profile="{{ app.request.get('id') }}"></div>
    <div class="col-sm-12 col-md-12">
        <h1 class="page-header">Widgets</h1> <a href="{{ path('new_widget') }}" class="btn btn-success">Utwórz nowy widget</a>
    </div>
</div>
    <div class="space-10"></div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div ng-controller="ListWidgetCtrl">
            <table ng-table="tableParams" class="table table-condensed">
                <tr ng-repeat="widget in $data">
                    <td data-title="'Id'" sortable="'id'"><span ng-bind="widget.id"></span>
                    <td data-title="'Title'" sortable="'title'">
                        <span ng-show="widget.template" class="badge">TEMPLATE</span> <span ng-bind="widget.title"></span>
                    </td>
                    <td data-title="'Real time'" sortable="'realTime'"><span ng-bind="widget.realTime"></span></td>
                    <td data-title="'Source'" sortable="'source'"><span ng-bind="widget.source"></span></td>
                    <td data-title="'Chart type'" sortable="'chartType'"><span ng-bind="widget.chartType"></span></td>
                    <td data-title="'Query type'" sortable="'queryType'"><span ng-bind="widget.queryType"></span></td>
                    <td data-title="'Actions'">
                        <a href="{{ app.request.getBaseURL() }}/widgets/{{ '{{widget.id}}' }}/edit">
                            <button class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-stats"></span> Edit
                            </button>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}