{% extends "MainAdminBundle::layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@MainUserBundle/Resources/views/Users/public/list.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h1 class="page-header">Users</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div ng-controller="ListCtrl">
                <table ng-table="tableParams" class="table table-condensed">
                    <tr ng-repeat="user in $data">
                        <td data-title="'Id'" sortable="'id'">{{ '{{user.id}}' }}</td>
                        <td data-title="'Name'" sortable="'name'">{{ '{{user.username}}' }}</td>
                        <td data-title="'Email'" sortable="'email'">{{ '{{user.email}}' }}</td>
                        <td data-title="'Last Login'" sortable="'last_login'">{{ '{{user.last_login}}' }}</td>
                        <td data-title="'Actions'">
                            <button type="button"
                                    class="btn btn-xs btn-danger"
                                    data-animation="am-fade-and-scale"
                                    bs-modal="modal">Show
                            </button>
                            <a href="userProfile/{{ '{{user.id}}' }}/show">
                                <button class="btn btn-primary btn-xs">
                                    <span class="glyphicon glyphicon-user"></span> Profile
                                </button>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}